@import "~photon-colors/colors";

@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

/* Button */
@mixin button(
  $background: $blue-50,
  $background-active: $blue-70,
  $background-hover: $blue-60,
  $border-color: transparent,
  $border-radius: $border-radius-l,
  $color: $white
) {
  @include font-regular();

  background: $background;
  border: 1px solid $border-color;
  border-radius: $border-radius-l;
  box-shadow: 0 4px 6px rgba(12, 12, 13, 0.1);
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-m;
  line-height: 1.3;
  margin: 0;
  padding: 12px 15px 9px;
  text-align: center;
  text-decoration: none;
  transition-duration: all $transition-long, padding $transition-short;
  transition-property: background-color border-color color;
  transition-timing-function: $easing-curve;

  .Icon {
    @include margin-end(6px);

    height: 16px;
    vertical-align: top;
    width: 16px;
  }

  // We frustratingly target :link directly so we need this override.
  &,
  &:link {
    color: $color;
    font-size: $font-size-m;
    font-weight: 400;

    &.Button--small {
      &,
      &:link {
        border-radius: $border-radius-m;
        font-size: $font-size-s;
        padding: 6px 12px 3px;
      }

      .Icon {
        @include margin-end(4px);

        height: 14px;
        width: 14px;
      }

      &:active:not(.disabled) {
        padding-bottom: 2px;
        padding-top: 7px;
      }
    }
  }

  &:hover {
    background: $background-hover;
    box-shadow: 0 4px 6px rgba(12, 12, 13, 0.2);
  }

  &:active,
  &:focus {
    background: $background-active;
  }

  &:active:not(.disabled) {
    padding-bottom: 8px;
    padding-top: 13px;
  }

  &:focus {
    @include focus();
  }

  &:disabled,
  &.disabled {
    @include disabled($background);
  }

  &.button-start {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &.button-middle {
    border-radius: 0;
  }

  &.button-end {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &.Button--outline-only {
    background: transparent;
    border-color: $teal-50;
    color: $color;

    &:hover {
      border-color: $teal-70;
    }

    &:active,
    &:focus {
      border-color: $teal-70;
    }
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.Button--neutral {
  @include button(
    $background: $grey-30,
    $background-active: $grey-40,
    $background-hover: $grey-50,
    $color: $grey-90
  );
}

.Button--light {
  @include button(
    $background: $white,
    $background-active: $grey-10,
    $background-hover: $grey-20,
    $color: $black
  );
}

.Button--action {
  @include button(
    $background: $blue-50,
    $background-active: $blue-60,
    $background-hover: $blue-70
  );
}

.Button--cancel {
  @include button(
    $background: $cancel-base-color,
    $background-active: $cancel-active-color,
    $background-hover: $cancel-hover-color
  );
}

.Button--confirm {
  @include button(
    $background: $green-50,
    $background-active: $green-60,
    $background-hover: $green-70
  );
}

.Button--warning {
  @include button(
    $background: $yellow-50,
    $background-active: $yellow-60,
    $background-hover: $yellow-70
  );
}

.Button--alert {
  @include button(
    $background: $red-50,
    $background-active: $red-60,
    $background-hover: $red-70
  );
}

.Button--report {
  @include button(
    $background: transparentize($grey-90, 0.9),
    $background-active: transparentize($grey-90, 0.7),
    $background-hover: transparentize($grey-90, 0.8),
    $color: $grey-90
  );
}

.Button--wide {
  @include respond-to(medium) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.Button--width-full {
  width: 100%;
}
